/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1A936F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1A936F;
}